* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body #calculator {
  margin-top: 50px;
  height: 650px;
  width: 25vw;
  border: 10px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 80px repeat(5, 1fr);
  grid-template-areas: "mscreen mscreen mscreen mscreen" "screen screen screen screen" "seven eight nine plus" "four five six minus" "one two three multiply" "allClear point zero divide" "result result result result";
}
body #calculator #minidisplay {
  grid-area: mscreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
  letter-spacing: 1px;
  font-size: 1.5em;
  color: gray;
}
body #calculator #display {
  grid-area: screen;
  border-bottom: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
  font-size: 3em;
}
body #calculator .grid {
  font-size: 1.5em;
}
body #calculator #one {
  grid-area: one;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #two {
  grid-area: two;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #three {
  grid-area: three;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #plus {
  grid-area: plus;
  border: 2px solid black;
  background-color: crimson;
  border-radius: 5px;
}
body #calculator #four {
  grid-area: four;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #five {
  grid-area: five;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #six {
  grid-area: six;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #minus {
  grid-area: minus;
  border: 2px solid black;
  background-color: crimson;
  border-radius: 5px;
}
body #calculator #seven {
  grid-area: seven;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #eight {
  grid-area: eight;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #nine {
  grid-area: nine;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #multiply {
  grid-area: multiply;
  border: 2px solid black;
  background-color: crimson;
  border-radius: 5px;
}
body #calculator #allClear {
  grid-area: allClear;
  border: 2px solid black;
  border-radius: 5px;
  background-color: gray;
  font-weight: bold;
}
body #calculator #point {
  grid-area: point;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #zero {
  grid-area: zero;
  border: 2px solid black;
  border-radius: 5px;
}
body #calculator #divide {
  grid-area: divide;
  border: 2px solid black;
  background-color: crimson;
  border-radius: 5px;
}
body #calculator #result {
  grid-area: result;
  border: 2px solid black;
  background-color: skyblue;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2em;
}/*# sourceMappingURL=styles.css.map */