* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  #calculator {
    margin-top: 50px;
    height: 650px;
    width: 25vw;
    border: 10px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 80px repeat(5, 1fr);
    grid-template-areas:
      "mscreen mscreen mscreen mscreen"
      "screen screen screen screen"
      "seven eight nine plus"
      "four five six minus"
      "one two three multiply"
      "allClear point zero divide"
      "result result result result";

    #minidisplay {
      grid-area: mscreen;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 5px;
      letter-spacing: 1px;
      font-size: 1.5em;
      color: gray;
    }

    #display {
      grid-area: screen;
      border-bottom: 5px solid black;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 5px;
      font-size: 3em;
    }

    .grid {
      font-size: 1.5em;
      border: 2px solid gainsboro;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
      margin: 5px;
    }
    #one {
      grid-area: one;
      background-color: gainsboro;
      border-radius: 5px;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }

    #two {
      grid-area: two;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #three {
      grid-area: three;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #plus {
      grid-area: plus;
      background-color: crimson;
      border: 2px solid crimson;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        background-color: rgb(180, 20, 60);
        border: 2px solid rgb(180, 20, 60);
      }
    }
    #four {
      grid-area: four;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #five {
      grid-area: five;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #six {
      grid-area: six;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #minus {
      grid-area: minus;
      background-color: crimson;
      border: 2px solid crimson;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        background-color: rgb(180, 20, 60);
        border: 2px solid rgb(180, 20, 60);
      }
    }
    #seven {
      grid-area: seven;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #eight {
      grid-area: eight;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #nine {
      grid-area: nine;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #multiply {
      grid-area: multiply;
      background-color: crimson;
      border: 2px solid crimson;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        background-color: rgb(180, 20, 60);
        border: 2px solid rgb(180, 20, 60);
      }
    }
    #allClear {
      grid-area: allClear;
      border-radius: 5px;
      background-color: lightgray;
      border: 2px solid lightgray;
      font-weight: bold;
      &:hover {
        background-color: rgb(180, 180, 180);
        border: 2px solid rgb(180, 180, 180);
      }
    }
    #point {
      grid-area: point;
      border-radius: 5px;
      background-color: gainsboro;
      font-weight: bold;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #zero {
      grid-area: zero;
      border-radius: 5px;
      background-color: gainsboro;
      &:hover {
        background-color: lightgray;
        border: 2px solid lightgray;
      }
    }
    #divide {
      grid-area: divide;
      background-color: crimson;
      border: 2px solid crimson;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        background-color: rgb(180, 20, 60);
        border: 2px solid rgb(180, 20, 60);
      }
    }
    #result {
      grid-area: result;
      background-color: skyblue;
      border: 2px solid skyblue;
      border-radius: 5px;
      font-weight: bold;
      font-size: 2em;
      &:hover {
        background-color: rgb(100, 180, 235);
        border: 2px solid rgb(100, 180, 235);
      }
    }
  }
}
